@import url('https://fonts.googleapis.com/css2?family=Inria+Serif&family=Open+Sans:wght@300;400&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.container {
    padding-left: 70px;
    padding-right: 70px;

}

.hero_section {
    background-image: url("assets/Landing-page/bg_img.jpg");
    background-size: cover;
    color: #d8d8d8;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

nav span {
    font-family: 'Inria Serif', serif;
    font-size: 25px;
    cursor: pointer;
}

nav img {
    cursor: pointer;
}

.nav_links ul {
    display: flex;
    gap: 100px;
}

.nav_links ul li {
    list-style: none;
    font-size: 15px;
    scroll-behavior: smooth;
}

.nav_links ul li a:hover {
    color: #ECA22A;
}

a {
    text-decoration: none;
    color: #d8d8d8;
    font-family: 'Open Sans', sans-serif;
}

.hero_title {
    padding-bottom: 150px;
}

.hero_title h1 {
    padding-top: 128px;
    padding-bottom: 36px;
    font-size: 68px;
    font-weight: 600;
    font-family: 'Inria Serif', serif;
    text-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.hero_title button {
    padding: 8px 48px;
    font-size: 19px;
    font-family: 'Open Sans', sans-serif;
    border: 1px solid #ECA22A;
    color: #fff;
    background-color: #ECA22A;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: 0.5s;
}

.hero_title button:hover {
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #ECA22A;
    color: #ECA22A;
    transition: 0.5s;
}

.hero_cards {
    display: flex;
    justify-content: space-between;
    padding-bottom: 80px;
}

.card {
    text-align: center;

}

.card a img {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    transition: transform 0.4s;
    height: 100%;
}

.card a img:hover {
    transform: scale(1.2);
}

.card p {
    font-family: 'Open Sans', sans-serif;
    overflow: hidden;
    padding-top: 12px;
    font-size: 20px;

}

.img_container {
    text-align: center;
    overflow: hidden;
    height: 200px;
}

.about_section {
    display: flex;
    background-color: #1E1E1E;
    color: #d8d8d8;
    align-items: center;

}

.about_section h2 {
    font-family: 'Inria Serif', serif;
    margin-left: 70px;
    padding: 15px 0;
    font-weight: 400;
    font-size: 30px;
}

.about_section p {
    margin: 0 70px;
    padding-top: 10px;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    color: #d8d8d8;
    line-height: 35px;
    border-top: 0.5px solid #d8d8d8;

}

.about_section img {
    border-top-left-radius: 30px;
}

.aboutus_section {
    color: #1E1E1E;
    background-color: #d8d8d8;
}

.about_us {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 32px;
    color: #1E1E1E;
}

.about_us h2 {
    font-family: 'Inria Serif', serif;
    padding-bottom: 20px;
    font-size: 45px;
    font-weight: 900;

}

.about_us p {
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    line-height: 30px;
    padding: 15px 0;
}

.aboutus_name {
    font-family: 'Inria Serif', serif;
    margin: 0 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.aboutus_name img {
    width: 220px;
    height: 220px;
    border-radius: 50%;
}


.aboutus_name span {
    font-size: 20px;
    font-weight: 600;
    text-decoration: underline;
}

.aboutus_name p {
    font-size: 20px;
}

footer {
    background: rgb(57, 57, 57);
    background: linear-gradient(60deg, rgba(57, 57, 57, 1) 34%, rgba(30, 30, 30, 1) 67%);
    color: #d8d8d8;
}

.footer_bothside {
    padding-top: 50px;
    padding-bottom: 30px;
    justify-content: space-between;
    color: #d8d8d8;
    display: flex;
    align-items: center;
}

.footer_bothside h2 {
    font-family: 'Inria Serif', serif;

}

.footer_bothside p {
    font-family: 'Open Sans', sans-serif;
}

.footer_leftside {
    font-size: 15px;
}

.footer_leftside p {
    line-height: 25px;
}

.logo_text {
    display: flex;
    align-items: center;
    padding-bottom: 15px;
    gap: 10px;
}

.logo_text img {
    cursor: pointer;
}

.logo_text h2 {
    cursor: pointer;
}


.footer_rightside {
    padding-right: 300px;
    font-size: 15px;
}


.footer_rightside h2 {
    padding-bottom: 20px;
}

.footer_rightside span {
    line-height: 25px;
}

.footer_underline {
    justify-content: space-between;
    display: flex;
    align-items: center;
    border-top: 2px solid #d8d8d8;
}

.copyright {
    color: #816969;
    padding-top: 20px;
    padding-bottom: 40px;
    font-size: 20px;
}

.icons img {
    cursor: pointer;
    margin-right: 15px;
}

.icons img:hover {
    filter: invert(0.4) sepia(1) saturate(6.3) hue-rotate(0deg) brightness(1);
}